body {
    height: 100%;
    min-height: 100vh;
    background-image: url("country-quilt3.png");
    background-repeat: repeat;
    color: black;
    font-size: 20px;
}

.nav-link:hover {
    color: black;
    text-decoration: none;
}

.container {
    max-width: 980px;
}

#logo {
    margin: 20px auto;
}

#jumbotron {
    padding: 20px 0px 20px 0px;
}

#header {
    margin-bottom: 20px;
    background-color: #c9a5df;
    text-align: center;
}

#tagline {
    font-size: 30px;
}

#business {
    font-size: 30px;
}

.contact {
    color: black;
}

.contact:hover {
    color: black;
}

#navbar {
    background-image: linear-gradient(#8869a5, #4a4b60);
    /* background-color: #4a4b60; */
    padding: 5px 0px 5px 0px;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav-pills {
    margin-top: 0px;
}

.nav-pills .nav-link.active {
    background-color: #8869a5;
    border: 1px solid black;
}

.nav-link {
    color: white;
}

.center-pills { 
    display: flex;
    justify-content: center;
}

#home-img {
    float: left;
    width: 300px;
    height: auto;
    padding-right: 20px;
}

#home-contact {
    padding-top: 20px;
}

#services-list {
    float: left;
}

#services-img {
    float: right;
    width: 300px;
    height: auto;
    padding-right: 10px;
}

#about-img {
    width: 300px;
    float: left;
    margin-right: 10px;
    margin-top: 10px;
}

.tab-content {
    min-height: 500px;
    margin: 0 auto 10px auto;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 50px 50px 10px 50px;
    overflow: auto;
}

@media screen and (max-width: 844px) {
    #services-list {
        float: none;
    }
    #services-img {
        float: none;
        padding: 0pc;
    }
    #home-contact {
        padding-top: 0px;
    }
}

@media screen and (max-width: 569px) {
    #about-img {
        float: none;
    }
}

@media screen and (max-width: 560px) {
    #home-img {
        float: none;
    }
}

@media screen and (max-width: 414px) {
    #contact {
        font-size: 20px;
    }

    .nav-pills {
        margin-top: 10px;
    }

    .tab-content {
        min-height: auto;
        margin: 0px 0px 10px 0px;
        padding: 5px 10px 5px 10px;
    }
}